<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.animku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".initial"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="Q">
        <activity android:name=".ViewGenre"></activity>
        <activity android:name=".ViewAllTerpopuler" />
        <activity android:name=".ViewAllTerbaru" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".SearchAnime" />
        <activity android:name=".InfoAnime" />
        <activity android:name=".EpisodeAnime" />
        <activity android:name=".GetAnime" />
        <activity android:name=".Fragment.MainFragment" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>